* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to left top,
    #3055d8,
    #006ce6,
    #0082f0,
    #0096f7,
    #00a9fc,
    #15a8f9,
    #21a6f5,
    #29a5f2,
    #428fe5,
    #5879d3,
    #6962bd,
    #7549a4
  );
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.container {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(
    to left top,
    #3055d8,
    #006ce6,
    #0082f0,
    #0096f7,
    #00a9fc,
    #15a8f9,
    #21a6f5,
    #29a5f2,
    #428fe5,
    #5879d3,
    #6962bd,
    #7549a4
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCol {
  width: 400px;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: -8px -16px 116px 8px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -16px 116px 8px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -16px 116px 8px rgba(0, 0, 0, 0.72);
  border-radius: 6px;
}
.containerCol input::placeholder {
  color: white;
}
.containerCol input {
  padding: 37px;
  width: 100%;
  border: none;
  border-radius: 3px;
  /* margin-bottom: 10px; */
  font-size: 2em;
  text-align: right;
  color: rgb(255, 255, 255);
  background: #000;
}
.hr {
  color: white;
  font-size: 1em;
  width: 100%;
  height: 2px;
}
.divRow {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 100px;
  height: 100px;
  border: none;
  font-size: 2.2em;
  color: rgb(255, 255, 255);
  /* border: 1px solid rgb(255, 106, 0); */
  background: rgb(0, 0, 0);
}
.oragen {
  color: rgb(255, 106, 0);
}

.screenResult {
  width: 100%;
  height: 100px;
  min-height: 65px;
  font-size: 2em;
  color: white;
  padding: 10px;
  text-align: center;
  background: rgb(0, 0, 0);
  font-weight: bold;
}

@media only screen and (max-width: 415px) {
  .containerCol {
    width: 350px;
  }
}

@media only screen and (max-width: 340px) {
  .containerCol {
    width: 300px;
  }
}